/* Checkout.css */
.checkout-container {
  display: flex;
  flex-direction: column; /* Primary axis is vertical */
  align-items: center;
  width: 100%;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif; /* This sets the font family */
  font-size: 16px; /* This sets the font size */
}

.items-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* This creates two columns */
  grid-auto-rows: auto; /* This makes the rows size to content */
  grid-gap: 10px; /* This adds some gap between the grid items */
  padding-bottom: 30px
}

.item {
  display: flex;
  align-items: center; /* Align the checkbox, label, and button vertically */
  margin: 5px; /* Margin around each item for spacing */
}

.item label {
  margin-left: 10px;
}

.item button {
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.item button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  height: 50px; /* Adjust as needed */
}

.menu {
  display: flex;
  gap: 10px;
}

.menu-label {
  font-family: Arial, sans-serif;
  font-size: 20px;
}


.wide-container {
    width: 800px;
    margin: 0 auto; /* This centers the container */
}

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}